{include file="common/head"/}
<div class="admin-main layui-anim layui-anim-upbit" ng-app="hd" ng-controller="ctrl">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>添加违禁词</legend>
    </fieldset>
    <form class="layui-form layui-form-pane">
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">违禁词</label>
            <div class="layui-input-block">
                <textarea name="ban" lay-verify="required" placeholder="请输入违禁词，如需添加多个违禁词请换行" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="button" class="layui-btn" lay-submit="" lay-filter="submit">{:lang('submit')}</button>
                <a href="{:url('index')}" class="layui-btn layui-btn-primary">{:lang('back')}</a>
            </div>
        </div>
    </form>
</div>
{include file="common/foot"/}
<script src="/static/common/js/angular.min.js"></script>
<script>
    var m = angular.module('hd',[]);
    m.controller('ctrl',function($scope) {
        layui.use(['form', 'layer','upload','laydate'], function () {
            var form = layui.form, upload = layui.upload,laydate = layui.laydate,$= layui.jquery;
            form.on('submit(submit)', function (data) {
                var ban = $('[name=ban]').val().split("\n")
                $.post("", {ban:ban}, function (res) {
                    if (res.code > 0) {
                        layer.msg(res.msg, {time: 1800, icon: 1}, function () {
                            location.href = res.url;
                        });
                    } else {
                        layer.msg(res.msg, {time: 1800, icon: 2});
                    }
                });
            });
        });
    });
</script>
</body>
</html>