  .apitop{
    margin-top:50px;
    background: none;
  }
  .apilist{
    background: none;
    padding: 0px;
    margin-bottom: 30px;
  }
  .apilist>ul>a>li{
    height:110px;
    width: 254px;
    float: left;
    background-color: #fff;
    border: 0.5px solid #eee;
  }

  .apilist>ul>a>li:hover{
    color: #423da1;
    border: 0.5px solid #423da1;
  }
  .apilist>ul>a>li>.icoapi{
    margin: 25px 20px;
    width:60px;
    height:60px;
    display: inline-block;
    float: left;
  }
  .apilist>ul>a>li>.t{
    width:150px;
    color: #333333;
    font-size: 16px;
    margin-top: 30px;
    font-weight: normal;
    float: left;
  }
  .apilist>ul>a>li>.i{
    color: #999999;
    margin-top: 7px;
    float: left;
  }
  .mr{
    margin-right: 20px;
  }
  .mb{
    margin-bottom: 20px;
  }
