.pagination p{
    margin:0;
    cursor:pointer
}
.pagination{
    display: inline-block;
    height:40px;
    padding:20px 0px;
    margin: 0 auto;
}
.pagination a{
    display:block;
    float:left;
    margin-right:10px;
    padding:2px 12px;
    height:24px;
    border:1px #cccccc solid;
    background:#fff;
    text-decoration:none;
    color:#808080;
    font-size:12px;
    line-height:24px;
}
.pagination a:hover{
    color:#fff;
    background: #423da1;
}
.pagination a.cur{
    background:#423da1;
    color:#fff;
    border: 1px #423da1 solid;
}
.pagination p{
    float:left;
    padding:2px 12px;
    font-size:12px;
    height:24px;
    line-height:24px;
    color:#bbb;
    border:1px #ccc solid;
    background:#fcfcfc;
    margin-right:8px;
}
.pagination p.pageRemark{
    border-style:none;
    background:none;
    margin-right:0px;
    padding:4px 0px;
    color:#666;
}
.pagination p.pageRemark b{
    color:#423da1;
}
.pagination p.pageEllipsis{
    border-style:none;
    background:none;
    padding:4px 0px;
    color:#808080;
}
.dates li {font-size: 14px;margin:20px 0}
.dates li span{float:right}