{include file='common/head'}
<div class="topbox"></div>
<!-- 内容 -->
<div class="aboutus">
    <div class="aboutbox">
        <div class="aui-form-header aboutnav">
          <div class="aui-form-header-item on">使用协议</div>
        	<div class="aui-form-header-item"><a href="/about">关于我们</a></div>
        	<div class="aui-form-header-item"><a href="/contact"> 联系我们</a></div>
        	<span class="aui-form-header-san"></span>
        </div>
    </div>
	<div class="aui-form-content1">
		<div class="abskj">
          <div>
            <h2>搜一搜站长工具使用协议</h2>
            <p>1. 在注册成为搜一搜站长工具会员时，搜一搜站长工具会收集您的用户信息，并且搜一搜站长工具可以通过您所填写的联系方式与您取得联系。</p>
            <p>2. 所有来源标注为搜一搜站长工具的内容版权均为本站所有，若您需要引用、转载，只需要注明来源及原文链接即可，如涉及大面积转载，请来信告知，获取授权。</p>
            <p>3. 本站所提供的文章资讯、软件资源、素材源码等内容均为作者提供、网友推荐、互联网整理而来（部分报媒/平媒内容转载自网络合作媒体），仅供学习参考，如有侵犯您的版权，<a href="/contact">请联系我们</a>，本站将在三个工作日内改正。</p>
            <p>4. 若您的网站或机构从本站获取的一切资源进行商业使用，除来源为本站的资料需与本站协商外，其他资源请自行联系版权所有人。</p> 
            <p>5. 搜一搜站长工具不保证资源的准确性、安全性和完整性，请您在阅读、下载及使用过程中自行确认，本站亦不承担上述资源对您或您的网站造成的任何形式的损失或伤害。</p>
            <p>6. 未经搜一搜站长工具允许，不得盗链、盗用本站资源；不得复制或仿造本网站，不得在非搜一搜站长工具所属的服务器上建立镜像，搜一搜站长工具对其自行开发的或和他人共同开发的所有内容、技术手段和服务拥有全部知识产权，任何人不得侵害或破坏，也不得擅自使用。</p>
            <p>7. 您不可自行或允许第三方,以任何不合法的方式、为任何不合法的目的、或以任何与本“许可协议”不一致的方式使用“服务”。</p>
            <p>8. 互联网的本质是自由与分享，我们真诚的希望，每一份有价值的正能量能够在互联网中自由传播，能够为每一个网站提供动力。</p>
            <p>9. 搜一搜站长工具是辅助站长在搜索引擎上查找适合的关键词，并返回给站长用于创建适合搜索引擎索引并服务于搜索引擎用户的网页内容的工具（也就是第四方工具），搜一搜站长工具关键词工具并不会恶意点击搜索引擎排序结果，也不会向搜索引擎发送用于协助站长作弊的数据，期待与各搜索引擎合作并协助搜索引擎共同改进网络环境。</p>
            <p>10. 搜一搜站长工具声明<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;①. 本工具不会也不提倡向搜索引擎发送恶意数据或者代码。<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;②. 本工具所有搜索行为都是为了方便站长更好的服务于搜索引擎，并不存在恶意代码，本工具代码接受并已通过各杀毒软件检测，本工具所有采集操作都经过站长授权，不存在非授权的访问。</p>
          </div>
		</div>	
	</div>
</div>
<!-- 底部 -->
<div class="footer" >
  <div class="ft">
   
    <div class="c_l"></div>
    <div class="fttt">
      <p>© CopyRight 2019 南京白鸥网络技术有限公司  </p>
      <h2><a href="http://www.beian.miit.gov.cn/"> 苏ICP备17006137号-3</a></h2>
      <h2 class="footabout"><a href="/contact"> 联系我们</a></h2>
      <h2 class="footabout"><a href="/about"> 关于我们</a></h2>
      <h2 class="footabout"><a href="/agreement"> 使用协议</a></h2>
      <a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=badeb4d7a314531403d2a395623f3bd0b5b48e8542ecac260f0530356a957fdc" style="margin-left:20px;"><img border="0" src="/static/home2/images/qq2.png" alt="搜一搜站长工具" title="搜一搜站长工具" width="25px" height="25px"></a>
      <div class="c_l"></div>
    </div>
  </div>
 {$config['cnzz']|raw}
</div>
</body>
</html>