{include file='common/head'}
<!-- 顶部样式 -->
<div class="topbox"></div>
<!-- 内容 -->
<div class="aboutus">
    <div class="aboutbox">
        <div class="aui-form-header aboutnav">
          <div class="aui-form-header-item"><a href="/agreement"> 使用协议</a></div>
        	<div class="aui-form-header-item on">关于我们</div>
        	<div class="aui-form-header-item"><a href="/contact"> 联系我们</a></div>
        	<span class="aui-form-header-san"></span>
        </div>
    </div>
	<div class="aui-form-content1">
		<div class="abskj">
      <div>
          <h2>搜一搜站长简介</h2>
          <p>
              搜一搜站长网成立于2019年,主办单位是南京白鸥网络技术有限公司， 是一家专门针对中文站点提供服务的网站，主要为广大站长提供站长工具查询，目前网站访问量整逐步稳定上升，注册会员1万人次以上。服务于广大站长，运营团队还免费提供网络营销解决方案，同时SEO团队为企业，电子商务平台提供数据参考。
          </p>
          <h2>服务内容</h2>
          <p>搜一搜站长网除了为站长们提供网站排名及时查询，Whois查询，ipv6转换，网站词频查询，友情链接检测，网站监控等站长常用工具之外，还研发出独具特色的百度权重查询功能为站长提供网站百度权重值查询。
          </p>
          <h2>网站优势</h2>
          <ul>
              <li>1. 多年的SEO论坛管理和实战经验,可以保证给客户提供专业的数据分析和参考。</li>
              <li>2. 大数据支持，内容丰富，全网独有，提供更有利的数据支持分析。</li>
              <li>3. 核心执行团队保证网站的设计方向正确性。</li> 
              <li>4. 团队采用设计项目经理制度可以实现精确的流程与进度控制。</li>
              <li>5. 设计团队配置以视觉设计师、交互设计师、动态设计师以及设计执行团队等可保证高质量的创意设计整合与输出。</li>
              <li>6. 全站静态化，分布式存储，访问速度更快，更稳定。</li>
          </ul> 
          <h2>发展历程</h2>
          <p>2019年5月 搜一搜站长网正式上线。</p>
      </div>
		</div>	
	</div>
</div>
<!-- 底部 -->
<div class="footer" >
  <div class="ft">
    
    <div class="c_l"></div>
    <div class="fttt">
      <p>© CopyRight 2019 南京白鸥网络技术有限公司  </p>
      <h2><a href="http://www.beian.miit.gov.cn/"> 苏ICP备17006137号-3</a></h2>
      <h2 class="footabout"><a href="/contact"> 联系我们</a></h2>
      <h2 class="footabout"><a href="/about"> 关于我们</a></h2>
      <h2 class="footabout"><a href="/agreement"> 使用协议</a></h2>
      <a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=badeb4d7a314531403d2a395623f3bd0b5b48e8542ecac260f0530356a957fdc" style="margin-left:20px;"><img border="0" src="/static/home2/images/qq2.png" alt="搜一搜站长工具" title="搜一搜站长工具" width="25px" height="25px"></a>
      <div class="c_l"></div>
    </div>
  </div>
 {$config['cnzz']|raw}
</div>
</body>
</html>
