<div class="kj2">
    <div class="seo">
        <div class="gun"></div>
        <h1>SEO查询工具</h1>
        <ul>
            <li><a href="/pcrank">电脑端排名查询</a></li>
            <li><a href="/keyword">关键词查询</a></li>
            <li><a href="/dig">关键词挖掘</a></li>
            <li><a href="/mrank">移动端排名查询</a></li>
            <li><a href="/pcincludes">批量收录查询</a></li>
            <li><a href="/compete">竞价查询</a></li>
        </ul>
    </div>
    <div class="seo1">
        <div class="gun"></div>
        <h1>域名/IP查询工具</h1>
        <ul>
            <li><a href="/beian">备案查询</a></li>
            <li><a href="/beians">批量备案查询</a></li>
            <li><a href="/newbeian">最新备案域名</a></li>
            <li><a href="/ipchange">ipv6转换</a></li>
            <!-- <li><a href="/speed">网站测速</a></li> -->
        </ul>
    </div>
    <div class="seo2">
        <div class="gun"></div>
        <h1>其他工具</h1>
        <ul>
            <li><a href="/monitor">网站监控</a></li>
            <li><a href="/rate">词频查询</a></li>
            <li><a href="/segment">ip生成</a></li>
            <li><a href="/wyc">伪原创</a></li>
            <li><a href="/pinyin">文字转拼音</a></li>
            <li><a href="/browseapi">获取API</a></li>
        </ul>
    </div>
    <div class="c_l"></div>
</div>

  