<div class="footer">
    <div class="ft">
        <div class="c_l"></div>
        <div class="fttt">
            <p>© CopyRight 2019 南京白鸥网络技术有限公司  </p>
            <h2><a href="http://www.beian.miit.gov.cn/"> 苏ICP备17006137号-3</a></h2>
            <h2 class="footabout"><a href="/contact"> 联系我们</a></h2>
            <h2 class="footabout"><a href="/about"> 关于我们</a></h2>
            <h2 class="footabout"><a href="/agreement"> 使用协议</a></h2>
            <a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=badeb4d7a314531403d2a395623f3bd0b5b48e8542ecac260f0530356a957fdc" style="margin-left:20px;"><img border="0" src="/static/home2/images/qq2.png" alt="搜一搜站长工具" title="搜一搜站长工具" width="25px" height="25px"></a>
            <div class="c_l"></div>
        </div>
    </div>
</div>
{if ($suspension)}
<div id="monster">
    <a href="{$suspension.url}" target="_blank"><img src="{$suspension.pic}" style="width: 60px;"></a>
</div>
{/if}
{$config['cnzz']|raw}
</body>
</html>

