{include file='common/head'}
<!-- 内容 -->
<div class="wyc">
  <div class="wyckj">
    <form action="" method="post">
      <ul>
        <li class="yuanwen">IPV6地址</li>
        <img src="/static/home2/images/jt.png">
        <li class="wycwz">IPV4地址</li>
        <button class="wyczh" id="changebtn" type="button">立即转换</button>
        <div class="c_l"></div>
        <textarea class="wuck" placeholder="请输入要转换的IPV6地址" name="changecont" spellcheck="false"></textarea>
        <li class="wuckk">
          <textarea class="wuck2" disabled="disabled" id="changeval"></textarea>
        </li>
        <div class="c_l"></div>
      </ul>
    </form>
  </div>
</div>
<!-- 介绍 -->
<div class="js">
  <div class="kj">
    <div class="gun"></div>
    <h1>工具简介</h1>
    <h2>----方便转换IPV4地址和IPV6地址的相互转换，局限于IPV4 已有地址之间转换。</h2> 
    <p>若服务器之间ipv4和ipv6转换，则需要反向代理等，可进群讨论，QQ群:872091094</p>
  </div>
  {include file='common/footnav'}
</div>
<!-- 底部 -->
{include file='common/footer'}

