{include file='common/head'}
<!-- 内容 -->
<div class="wyc">
  <div class="wyckj">
    <form action="#" method="post">
    <ul>
      <li class="yuanwen">汉字</li>
      <img src="/static/home2/images/jt.png">
      <li class="wycwz">拼音</li>
      <button class="wyczh" id="changebtn" type="button">立即转换</button>
      <div class="c_l"></div>
      <textarea class="wuck" placeholder="请输入要转化的文本内容" name="changecont"></textarea>
      <li class="wuckk">
        <textarea class="wuck2" disabled="disabled" id="changeval"></textarea>
      </li>
      <div class="c_l"></div>
    </ul>
  </form>
  </div>
</div>
<!-- 介绍 -->
<div class="js">
  <div class="kj">
    <div class="gun"></div>
    <h1>工具简介</h1>
    <h2>该工具可以把你输入的中文按要求翻译成拼音</h2> 
  </div>
  {include file='common/footnav'}
</div>
<!-- 底部 -->
{include file='common/footer'}


