{include file='common/head'}
<link href="/static/home2/css/order.css" rel="stylesheet"/>
<script type="text/javascript" src="/static/home2/js/speed.js"></script>
<!-- 搜索框-->
<section class="products">
    <div class="container">
        <div class="search">
          <form action="/speedmap" method="get">
            <input type="text" name="website" class="website"  placeholder="请输入正确的网站地址" spellcheck="false">
            <button class="search-btn" id="selectweb" type="button">立即查询</button>
          </form>
        </div>
    </div>
</section>
<!-- 介绍 -->
<div class="js">
  <div class="kj">
    <div class="gun"></div>
    <h1>工具简介</h1>
    <h2>国内网站速度检测的首选，遍及国内各省几十个网站速度检测点，包括BGP双线、多线、电信、网通、联通、移动、长城宽带等线路，<br>即时测试网站在全国各地的打开速度。</h2>
  </div>
  {include file='common/footnav'}
</div>
<!-- 底部 -->
{include file='common/footer'}




