{include file="common/head"/}
<div class="admin-main layui-anim layui-anim-upbit" ng-app="hd" ng-controller="ctrl">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>{$title}</legend>
    </fieldset>
    <form class="layui-form layui-form-pane">
        <div class="layui-form-item">
            <label class="layui-form-label">所属会员组</label>
            <div class="layui-input-4">
                <select name="level" lay-verify="required" ng-model="field.level" ng-options="v.id as v.title for v in group" ng-selected="v.id==field.level"  lay-filter="grouplevel">
                    <option value="">请选择会员组</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item endtime">
            <div class="layui-inline">
                <label class="layui-form-label">到期时间</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="test29" placeholder="请选择到期时间" name="endtime" ng-model="field.endtime">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">{:lang('mobile')}</label>
            <div class="layui-input-4">
                <input type="text" name="mobile" ng-model="field.mobile" lay-verify="required" placeholder="输入{:lang('mobile')}" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                请输入正确的手机号
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">{:lang('pwd')}</label>
            <div class="layui-input-4">
                <input type="password" name="password" placeholder="输入{:lang('pwd')}" class="layui-input" {if condition="ACTION_NAME eq 'adduser'"}lay-verify="required"{/if}>
            </div>
            <div class="layui-form-mid layui-word-aux">
                密码必须大于6位，小于15位
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">{:lang('nickname')}</label>
            <div class="layui-input-4">
                <input type="text" name="username" ng-model="field.username" placeholder="{:lang('pleaseEnter')}{:lang('nickname')}" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">头像</label>
            <input type="hidden" name="avatar" id="avatar" value="{{field.avatar}}">
            <div class="layui-input-block">
                <div class="layui-upload">
                    <button type="button" class="layui-btn layui-btn-primary" id="adBtn">
                        <i class="icon icon-upload3"></i>点击上传
                    </button>
                    <div class="layui-upload-list">
                        <img class="layui-upload-img" id="adPic">
                        <p id="demoText"></p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="layui-form-item">
            <label class="layui-form-label">{:lang('email')}</label>
            <div class="layui-input-4">
                <input type="text" name="email" ng-model="field.email" placeholder="输入{:lang('email')}" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                请输入正确的邮箱
            </div>
        </div>
        
        <!-- <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">{:lang('sex')}</label>
                <div class="layui-input-block">
                    <input type="radio" name="sex" ng-model="field.sex" ng-checked="field.sex==1" ng-value="1" title="{:lang('man')}">
                    <input type="radio" name="sex" ng-model="field.sex" ng-checked="field.sex==0" ng-value="0" title="{:lang('woman')}">
                </div>
            </div>
        </div> -->

        <div class="layui-form-item">
            <label class="layui-form-label">{:lang('qq')}</label>
            <div class="layui-input-4">
                <input type="text" name="qq" ng-model="field.qq" placeholder="输入{:lang('qq')}" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">积分</label>
            <div class="layui-input-4">
                <input type="text" name="point" ng-model="field.point" placeholder="" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">是否禁用</label>
            <div class="layui-input-block">
                <input type="radio" name="is_lock" ng-model="field.is_lock" ng-checked="field.is_lock==1" ng-value="1" title="启用">
                <input type="radio" name="is_lock" ng-model="field.is_lock" ng-checked="field.is_lock==0" ng-value="0" title="禁用">
                
            </div>
        </div>
        <!-- <div class="layui-form-item">
            <label class="layui-form-label">{:lang('address')}</label>
            <div class="layui-input-inline">
                <select name="province" ng-model="field.province" lay-filter="province" ng-options="v.id as v.name for v in province" ng-selected="v.id==field.province">
                    <option value="">请选择省</option>
                </select>
            </div>
            <div class="layui-input-inline" >
                <select name="city" id="city" ng-model="field.city" lay-filter="city" ng-options="v.id as v.name for v in city" ng-selected="v.id==field.city">
                    <option value="">请选择市</option>
                </select>
            </div>
            <div class="layui-input-inline">
                <select name="district" id="district" ng-model="field.district" lay-filter="district" ng-options="v.id as v.name for v in district" ng-selected="v.id==field.district">
                    <option value="">请选择县/区</option>
                </select>
            </div>
        </div> -->

     
            
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="button" class="layui-btn" lay-submit="" lay-filter="submit">{:lang('submit')}</button>
                <a href="{:url('index')}" class="layui-btn layui-btn-primary">{:lang('back')}</a>
            </div>
        </div>
    </form>
</div>
{include file="common/foot"/}
<script src="/static/common/js/angular.min.js"></script>
<script>
    var m = angular.module('hd',[]);
    m.controller('ctrl',function($scope) {
        $scope.field = '{$info|raw}'!='null'?{$info|raw}:{level:'',mobile:'',username:'',qq:'',email:'',id:'',is_lock:1,point:10,endtime:''};
        $scope.group = {$user_level|raw};
        // $scope.province = {$province|raw};
        // $scope.city = {$city|raw};
        // $scope.district = {$district|raw};
        layui.use(['form', 'layer','upload','laydate'], function () {
            var form = layui.form, upload = layui.upload,laydate = layui.laydate,$= layui.jquery;
            if($scope.field.avatar){
                adPic.src = $scope.field.avatar;
            }
            //墨绿主题
            laydate.render({
                elem: '#test29'
                ,theme: 'molv'
            });
            
            form.on('select(grouplevel)', function(data) {
                var str = data.value;
                if (str == 'number:1') {
                    $('.endtime').css('display','none');
                } else {
                    $('.endtime').css('display','block');
                    var oDate = new Date();
                    oDate.setYear(oDate.getFullYear() + 1);
                    function time(time = oDate.getTime()) {
                        var date = new Date(time + 8 * 3600 * 1000); // 增加8小时
                        return date.toJSON().substr(0, 11).replace('T', ' ');
                    }
                    $('#test29').val(time());
                }
            });
            if ($('select[name=level]').val() == 'number:1') {
                $('.endtime').css('display','none');
            } else {
                $('.endtime').css('display','block');
            }
            // console.log($('select[name=level]').val());
            // if ($('select[name=level]').val() == '0.00') {
            //     $('input[name=price]').attr('readonly', 'readonly')
            // }
            // form.on('select(province)', function(data) {
            //     var pid = data.value;
            //     var loading = layer.load(1, {shade: [0.1, '#fff']});
            //     $.get("{:url('getRegion')}?pid=" + pid, function (data) {
            //         layer.close(loading);
            //         var html='<option value="">请选择市</option>';
            //         $.each(data, function (i, value) {
            //             html += '<option value="number:'+value.id+'">'+value.name+'</option>';
            //         });
            //         $('#city').html(html);
            //         $('#district').html('<option value="">请选择县/区</option>');
            //         form.render()
            //     });
            // });
            // form.on('select(city)', function(data) {
            //     var pid = data.value;
            //     var loading = layer.load(1, {shade: [0.1, '#fff']});
            //     $.get("{:url('getRegion')}?pid=" + pid, function (data) {
            //         layer.close(loading);
            //         var html='<option value="">请选择县/区</option>';
            //         $.each(data, function (i, value) {
            //             html += '<option value="number:'+value.id+'">'+value.name+'</option>';
            //         });
            //         $('#district').html(html);

            //         form.render()
            //     });
            // });
            form.on('submit(submit)', function (data) {
                // 提交到方法 默认为本身
                console.log(data);
                var mobile=/^1\d{10}$/;
                var email=/^[a-z0-9._%-]+@([a-z0-9-]+\.)+[a-z]{2,4}$|^1[3|4|5|7|8]\d{9}$/;
                if(!mobile.test(data.field.mobile)){
                     layer.msg('手机格式错误',{icon: 5});
                     return false;
                }
                if(data.field.email){
                    if(!email.test(data.field.email)){
                        layer.msg('邮箱格式错误',{icon: 5});
                        return false;
                    }
                }
                var loading = layer.load(1, {shade: [0.1, '#fff']});
                data.field.id = $scope.field.id;
                $.post("", data.field, function (res) {
                    layer.close(loading);
                    if (res.code > 0) {
                        layer.msg(res.msg, {time: 1800, icon: 1}, function () {
                            location.href = res.url;
                        });
                    } else {
                        layer.msg(res.msg, {time: 1800, icon: 2});
                    }
                });
            });
            //普通图片上传
            var uploadInst = upload.render({
                elem: '#adBtn'
                ,url: '{:url("UpFiles/upload")}'
                ,accept:'file'  // 允许上传的文件类型
                ,auto:true // 自动上传
                ,size:2048
                ,before: function(obj){
                    //预读本地文件示例，不支持ie8
                    obj.preview(function(index, file, result){
                        $('#adPic').attr('src', result); //图片链接（base64）
                    });
                },
                done: function(res){
                    if (res.code == 0) {
                        $('#avatar').val(res.url);
                        layer.msg(res.msg);
                    }
                }
                ,error: function(){
                    //演示失败状态，并实现重传
                    var demoText = $('#demoText');
                    demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                    demoText.find('.demo-reload').on('click', function(){
                        uploadInst.upload();
                    });
                }
            });
        });
    });
</script>
</body>
</html>